@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}
.main {
  display: block;
  background: pink;
  width: 100%;
  height: 100vh;
  transition: .3s ease-in-out;
  box-shadow: 20px 0 60px rgba(0,0,0,.5);
}

.check-btn {
  display: none;
  // チェックボックスがオンの時、
  // .mainを左に300pxずらします。
  &:checked {
    & ~ .main {
      transform: translateX(-300px);
    }
    & ~ .drawer-menu {
      opacity: 1;
    }
    & ~ .drawer-menu {
      transition-delay: .3s;
      transform: none;
      opacity: 1;
      z-index: 2;
      width: 300px;
    }
    & ~ .close-menu {
      transition-duration: 1s;
      transition-delay: .1s;
      background: rgba(150,150,150,.6);
      visibility: visible;
      opacity: 1;
      z-index: 3;
    }
    & ~ .menu-btn::before {
      content: "\f00d";
      transition-duration: 1s;
      transition-delay: .5s;
    }
  }
}

.drawer-menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 100vh;
  background: skyblue;
  transition-property: all;
  transition-duration: .5s;
  transform-origin: right center;
  transform: perspective(300px) rotateY(-90deg);
  opacity: 0;
  z-index: 4;
  animation: dm 1s;
}


.menu-btn {
  position: fixed;
  top: 7px;
  right: 40px;
  cursor: pointer;
  z-index: 3;
  color: #444;
  transition: .3s;
  &:hover {
    color: #aaa;
  }
  &::before {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    content: '\f0c9';
    font-size: 3.3rem;
  }
}

.close-menu {
  position: fixed;
  top: 0;
  right: 300px;
  width: 100%;
  height: 100vh;
  cursor: url(http://theorthodoxworks.com/demo/images/cross.svg),auto;
  transition-property: all;
  transition-duration: .3s;
  visibility: hidden;
  opacity: 0;
}